public/ws/fonasa/CertificadorPrevisionalSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://certificadorprevisional.fonasa.gov.cl.ws/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://certificadorprevisional.fonasa.gov.cl.ws/" xmlns:intf="http://certificadorprevisional.fonasa.gov.cl.ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://certificadorprevisional.fonasa.gov.cl.ws/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCertificadoPrevisional">
                <complexType>
                    <sequence>
                        <element name="query" type="impl:QueryCertificadorPrevisionalTO" />
                    </sequence>
                </complexType>
            </element>
            <complexType name="queryTO">
                <sequence>
                    <element name="tipoEmisor" type="xsd:int" />
                    <element name="tipoUsuario" type="xsd:int" />
                </sequence>
            </complexType>
            <complexType name="QueryCertificadorPrevisionalTO">
                <sequence>
                    <element name="queryTO" type="impl:queryTO" />
                    <element name="entidad" type="xsd:int" />
                    <element name="claveEntidad" type="xsd:int" />
                    <element name="rutBeneficiario" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="dgvBeneficiario" type="xsd:string" />
                    <element name="canal" type="xsd:int" />
                </sequence>
            </complexType>
            <element name="getCertificadoPrevisionalResponse">
                <complexType>
                    <sequence>
                        <element name="getCertificadoPrevisionalResult" type="impl:ReplyCertificadorPrevisionalTO" />
                    </sequence>
                </complexType>
            </element>
            <complexType name="replyTO">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="errorM" type="xsd:string" />
                    <element name="estado" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="fecha" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="BeneficiarioTO">
                <sequence>
                    <element name="rutbenef" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="dgvbenef" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="nombres" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell1" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell2" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="fechaNacimiento" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="genero" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="generoDes" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="fechaFallecimiento" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="cdgNacionalidad" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="desNacionalidad" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="direccion" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="cdgRegion" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="desRegion" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="cdgComuna" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="desComuna" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="telefono" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="AfiliadoTO">
                <sequence>
                    <element name="rutafili" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="dgvafili" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="nombres" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell1" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell2" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="fecnac" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="tramo" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="genero" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="generoDes" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="cdgEstado" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="desEstado" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="CargasTO">
                <sequence>
                    <element name="rutcarga" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="dgvcarga" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell1" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="apell2" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="nombres" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="parentesco" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="fecnac" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="genero" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="generoDes" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="ArrayOfCargasTO">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:CargasTO" />
                </sequence>
            </complexType>
            <complexType name="ReplyCertificadorPrevisionalTO">
                <sequence>
                    <element name="replyTO" type="impl:replyTO" />
                    <element name="folio" type="xsd:long" />
                    <element maxOccurs="1" minOccurs="0" name="codcybl" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="coddesc" type="xsd:string" />
                    <element name="numeroCarga" type="xsd:int" />
                    <element maxOccurs="1" minOccurs="0" name="codigoprais" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="descprais" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="cdgIsapre" type="xsd:string" />
                    <element maxOccurs="1" minOccurs="0" name="desIsapre" type="xsd:string" />
                    <element name="beneficiarioTO" type="impl:BeneficiarioTO" />
                    <element name="afiliadoTO" type="impl:AfiliadoTO" />
                    <element maxOccurs="1" minOccurs="0" name="listCargas" type="impl:ArrayOfCargasTO" />
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="getCertificadoPrevisionalRequest">
        <wsdl:part element="impl:getCertificadoPrevisional" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getCertificadoPrevisionalResponse">
        <wsdl:part element="impl:getCertificadoPrevisionalResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="CertificadorPrevisionalSoap">
        <wsdl:operation name="getCertificadoPrevisional">
            <wsdl:input message="impl:getCertificadoPrevisionalRequest" name="getCertificadoPrevisionalRequest" />
            <wsdl:output message="impl:getCertificadoPrevisionalResponse" name="getCertificadoPrevisionalResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CertificadorPrevisionalSoapSoapBinding" type="impl:CertificadorPrevisionalSoap">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCertificadoPrevisional">
            <wsdlsoap:operation soapAction="http://certificadorprevisional.fonasa.gov.cl.ws/getCertificadoPrevisional" />
            <wsdl:input name="getCertificadoPrevisionalRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCertificadoPrevisionalResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CertificadorPrevisional">
        <wsdl:port binding="impl:CertificadorPrevisionalSoapSoapBinding" name="CertificadorPrevisionalSoap">
            <wsdlsoap:address location="http://ws.fonasa.cl:8080/Certificados/Previsional" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
